body{
    text-align: center;
}
label{
    font-size: 30px;
}
input{
    font-size: 30px;
}
h1{
    font-size: 90px;
}
h2{
    font-size: 50px;
}
hr{
    width: 95pc;
}
.left{
    text-align: left;
    margin-left: 20%;
}
.left label,
.left input {
    font-size: 30px;
}
ol{
    font-size: 30px;
}